
body {
	background-color: #c8c0ff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  text-align: center;
  margin-top: 200px;
}

.button {
	display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #674673;
  height: 30px;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 1px 2px 1px 2px #888888;
  /*margin-top: 400px;*/
  
}